body {

    header {
        .check-panier {
            display: flex;
            justify-content: end;
            &__panier{
                cursor: pointer;
                padding-right: 5%;
            }
            &__popup {
                position: fixed;
                transform: translate(-20%, -50%);
                background-color: #000000;
                color: #FFFFFF;
                top: 15%;
                left:90%;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

        }



        .contenuPopup {
            text-align: center;
        }

       
    }
} 

#ClosePopup {
            margin-top: 10px;
            cursor: pointer;
        }